<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <!-- Parameters for criticality calculation -->
  <criticality>
    <cycles>500</cycles>
    <inactive>10</inactive>
    <particles>1000</particles>
  </criticality>

  <!-- Starting source -->
  <source>
    <type>box</type>
    <coeffs>-1 -1 -1  1  1  1</coeffs>
  </source>

</settings>
