<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <!-- Path for cross section library -->
  <cross_sections>
      /home/paulromano/openmc/cross_sections_serpent.xml
  </cross_sections>

  <!-- Parameters for criticality calculation -->
  <criticality>
    <cycles>500</cycles>
    <inactive>10</inactive>
    <particles>1000</particles>
  </criticality>

  <!-- How verbose output should be -->
  <verbosity value="7" />

  <!-- Starting source -->
  <source>
    <type>box</type>
    <coeffs>-1 -1 -1  1  1  1</coeffs>
  </source>

</settings>
