<?xml version="1.0"?>
<settings>

  <!-- Parameters for k-eigenvalue calculation -->
  <run_mode>eigenvalue</run_mode>
  <batches>15</batches>
  <inactive>5</inactive>
  <particles>10000</particles>

  <!-- Starting source -->
  <source>
    <space type="box" parameters="-10. -10. -10. 10. 10. 10." />
  </source>

</settings>
