<?xml version='1.0' encoding='utf-8'?>
<settings>
    <eigenvalue>
        <particles>100</particles>
        <batches>10</batches>
        <inactive>5</inactive>
    </eigenvalue>
    <source strength="1.0">
        <space type="box">
            <parameters>-160 -160 -183 160 160 183</parameters>
        </space>
    </source>
    <output>
        <summary>true</summary>
    </output>
</settings>
