[submodule "src/xml/fox"]
	path = src/xml/fox
	url = git@github.com:mit-crpg/fox.git
[submodule "purxs"]
	path = purxs
	url = git@github.com:walshjon/purxs
	branch = develop
[submodule "/Users/walshjon/dev/openmc-0.6.1/purxs"]
	path = /Users/walshjon/dev/openmc-0.6.1/purxs
	url = https://github.com/walshjon/purxs
	branch = develop
