sudo: required
dist: xenial
language: python
addons:
  apt:
    packages:
      - mpich
      - libmpich-dev
      - libhdf5-serial-dev
      - libhdf5-mpich-dev
      - libblas-dev
      - liblapack-dev
    config:
      retries: true
services:
  - xvfb
cache:
  directories:
  - $HOME/nndc_hdf5
  - $HOME/endf-b-vii.1
env:
  global:
    - MPI_DIR=/usr
    - HDF5_ROOT=/usr
    - OMP_NUM_THREADS=2
    - OPENMC_CROSS_SECTIONS=$HOME/nndc_hdf5/cross_sections.xml
    - OPENMC_ENDF_DATA=$HOME/endf-b-vii.1
    - LD_LIBRARY_PATH=$HOME/MOAB/lib:$HOME/DAGMC/lib
    - PATH=$PATH:$HOME/NJOY2016/build
    - COVERALLS_PARALLEL=true
    - NUMPY_EXPERIMENTAL_ARRAY_FUNCTION=0
matrix:
  include:
    - python: "3.5"
      env: OMP=n MPI=n PHDF5=n
    - python: "3.6"
      env: OMP=n MPI=n PHDF5=n
    - python: "3.7"
      env: OMP=n MPI=n PHDF5=n
    - python: "3.7"
      env: OMP=y MPI=n PHDF5=n
    - python: "3.7"
      env: OMP=n MPI=y PHDF5=n
    - python: "3.7"
      env: OMP=n MPI=y PHDF5=y
    - python: "3.7"
      env: OMP=y MPI=y PHDF5=y DAGMC=y
    - python: "3.7"
      env: OMP=y MPI=n PHDF5=n EVENT=y
notifications:
  webhooks: https://coveralls.io/webhook?repo_token=$COVERALLS_REPO_TOKEN
install:
  - ./tools/ci/travis-install.sh
before_script:
  - ./tools/ci/travis-before-script.sh
script:
  - ./tools/ci/travis-script.sh
after_success:
  - cpp-coveralls -i src -i include --exclude-pattern "/usr/*" --dump cpp_cov.json
  - coveralls --merge=cpp_cov.json
