<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>100</particles>
  <batches>100</batches>
  <inactive>10</inactive>
  <volume_calc>
    <domain_type>cell</domain_type>
    <domain_ids>0 2</domain_ids>
    <samples>1000000000</samples>
    <lower_left>-0.5 -0.5 -0.5</lower_left>
    <upper_right>0.5 0.5 0.5</upper_right>
  </volume_calc>
</settings>
