*~
*.o
*.obj
*.fwd
*.map
*.mod
*.MOD
*.m
*.M
*.a
FoX-config
arch.make
config.log
config.status
objs
wcml_example
wxml_example
wkml_example
wkml_example_2
sax_example
sax_example_2
dom_example
dom_example_2
dom_example_3
.FoX
.config
*.exe
.gdb_history
autom4te.cache
common/test/*.score
utils/test/*.score
wxml/test/*.score
wcml/test/*.score
wkml/test/*.score
sax/test/*.score
dom/test/*.score
common/test/failed.out
common/test/test.out
common/test/tests.out
utils/test/failed.out
utils/test/test.out
utils/test/tests.out
sax/test/test.out
sax/test/tests.out
dom/test/test.out
dom/test/test.xml
dom/test/tests.out
wcml/test/test.out
wcml/test/test.xml
wcml/test/tests.out
wxml/test/failed.out
wxml/test/test.out
wxml/test/tests.out
wkml/test/failed.out
wkml/test/test.out
wkml/test/test.xml
wkml/test/tests.out
wkml/test/test_kmlContours_*_real.*
examples/mytest.cml
examples/out.xml
examples/simple.xml
*.dSYM/
