<?xml version="1.0"?>
<settings>

  <resonance_scattering>
    <scatterer>
      <nuclide>U-238</nuclide>
      <method>cxs</method>
      <xs_label>92238.71c</xs_label>
      <xs_label_0K>92238.71c</xs_label_0K>
      <E_min>5.0e-6</E_min>
      <E_max>40.0e-6</E_max>
    </scatterer>
  </resonance_scattering>

  <eigenvalue>
    <batches>10</batches>
    <inactive>5</inactive>
    <particles>1000</particles>
  </eigenvalue>

  <source>
    <space type="box">
      <parameters>-4 -4 -4  4  4  4</parameters>
    </space>
  </source>

</settings>
