<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <!-- Parameters for criticality calculation -->
  <run_mode>eigenvalue</run_mode>
  <batches>20</batches>
  <inactive>10</inactive>
  <particles>1000</particles>

  <!-- Starting source -->
  <source>
    <space>
      <type>box</type>
      <parameters>-10 -1 -1 10 1 1</parameters>
    </space>
  </source>

  <!-- Shannon Entropy -->
  <mesh id="10">
    <dimension> 10 1 1 </dimension>
    <lower_left> -10.0 -1.0 -1.0 </lower_left>
    <upper_right> 10.0  1.0  1.0 </upper_right>
  </mesh>
  <entropy_mesh>10</entropy_mesh>

</settings>
