<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000</particles>
  <batches>20</batches>
  <inactive>10</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="box">
      <parameters>-0.62992 -0.62992 -1 0.62992 0.62992 1</parameters>
    </space>
    <constraints>
      <fissionable>true</fissionable>
    </constraints>
  </source>
  <entropy_mesh>1</entropy_mesh>
  <mesh id="1">
    <dimension>10 10 1</dimension>
    <lower_left>-0.39218 -0.39218 -1e+50</lower_left>
    <upper_right>0.39218 0.39218 1e+50</upper_right>
  </mesh>
</settings>
