<?xml version="1.0"?>
<settings>

  <verbosity>1</verbosity>
  <run_mode>eigenvalue</run_mode>
  <batches>12</batches>
  <inactive>5</inactive>
  <particles>1200</particles>

  <source>
    <space type="box">
      <parameters>-10 -10 -5  10  10  5</parameters>
    </space>
  </source>

</settings>
