<?xml version="1.0"?>
<settings>

  <eigenvalue>
    <batches>20</batches>
    <inactive>15</inactive>
    <particles>400</particles>
  </eigenvalue>

  <source>
    <space type="box">
      <parameters>
        -10.0 -10.0 -10.0
         10.0  10.0  10.0
      </parameters>
    </space>
  </source>

  <domain_decomposition>

    <mesh>
      <dimension> 1 1 1 </dimension>
      <lower_left> -10.05 -10.05 -10.05 </lower_left>
      <upper_right> 10.05  10.05  10.05 </upper_right>
    </mesh>

    <nodemap>1</nodemap>

  </domain_decomposition>

</settings>
