<?xml version="1.0"?>
<settings>

  <log_grid_bins>20000</log_grid_bins>

  <run_mode>eigenvalue</run_mode>
  <batches>10</batches>
  <inactive>5</inactive>
  <particles>1000</particles>

  <source>
    <space type="box">
      <parameters>-4 -4 -4  4  4  4</parameters>
    </space>
  </source>

</settings>
