<?xml version="1.0"?>
<settings>

  <confidence_intervals>true</confidence_intervals>

  <run_mode>eigenvalue</run_mode>
  <batches>10</batches>
  <inactive>2</inactive>
  <particles>100</particles>

  <source>
    <space type="box">
      <parameters>-4 -4 -4  4  4  4</parameters>
    </space>
  </source>

</settings>
