<?xml version='1.0' encoding='utf-8'?>
<settings>
    <run_mode>eigenvalue</run_mode>
    <particles>1000</particles>
    <batches>10</batches>
    <inactive>5</inactive>
    <source strength="1.0">
        <space type="fission">
            <parameters>-0.62992 -0.62992 -1 0.62992 0.62992 1</parameters>
        </space>
    </source>
</settings>
