<?xml version="1.0"?>
<settings>

  <!-- pu-met-fast-021 case 2 -->

  <eigenvalue>
    <batches>10</batches>
    <inactive>5</inactive>
    <particles>400</particles>
  </eigenvalue>

  <source>
    <space>
      <type>box</type>
      <parameters>0 0 0 1 1 1</parameters>
    </space>
  </source>

</settings>

