<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000</particles>
  <batches>10</batches>
  <inactive>5</inactive>
  <source strength="1.0">
    <space type="box">
      <parameters>-0.9899494936611666 -0.9899494936611666 0.0 0.9899494936611666 0.9899494936611666 10.0</parameters>
    </space>
  </source>
  <output>
    <summary>false</summary>
  </output>
  <seed>46</seed>
  <temperature_method>interpolation</temperature_method>
  <resonance_scattering>
    <enable>true</enable>
  </resonance_scattering>
</settings>
