<?xml version="1.0"?>
<settings>

  <verbosity>1</verbosity>
  <run_mode>eigenvalue</run_mode>
  <batches>10</batches>
  <inactive>5</inactive>
  <particles>10000</particles>
  <max_lost_particles>20000</max_lost_particles>
  <max_write_lost_particles>5</max_write_lost_particles>
  <source>
    <space type="box">
      <parameters>-10 -10 -5  10  10  5</parameters>
    </space>
  </source>

</settings>
