<?xml version="1.0"?>
<settings>

  <run_mode>eigenvalue</run_mode>
  <batches>10</batches>
  <inactive>5</inactive>
  <particles>1000</particles>

  <source>
    <space type="box" parameters="-10 -10 -10 10 10 10" />
  </source>

  <uniform_fs>
    <dimension>10 10 10</dimension>
    <lower_left>-10. -10. -10.</lower_left>
    <upper_right>10. 10. 10.</upper_right>
  </uniform_fs>

</settings>
