<?xml version="1.0"?>
<settings>

  <!-- Parameters for k-eigenvalue calculation -->
  <eigenvalue>
    <batches>20</batches>
    <inactive>10</inactive>
    <particles>10000</particles>
  </eigenvalue>

  <!-- Starting source -->
  <source>
    <space type="box">
      <parameters>-1 -1 -1  1  1  1</parameters>
    </space>
  </source>

</settings>
