<?xml version="1.0"?>
<settings>

  <!-- Parameters for criticality calculation -->
  <criticality>
    <batches>20</batches>
    <inactive>10</inactive>
    <particles>10000</particles>
  </criticality>

  <verbosity>7</verbosity>

  <!-- Starting source -->
  <source>
    <space type="box">
      <parameters>-1 -1 -1  1  1  1</parameters>
    </space>
  </source>

</settings>
