<?xml version="1.0"?>
<settings>

  <seed>100000000</seed>
  <ptables>true</ptables>
  <cross_sections>/home/walshjon/data/cross_sections_endf71x.xml</cross_sections>

  <eigenvalue>
    <batches>6</batches>
    <inactive>1</inactive>
    <particles>100</particles>
  </eigenvalue>

  <source>
    <space>
      <type>fission</type>
      <parameters>
        -41.91 -41.91 -57.46750
         41.91  41.91  39.05250
      </parameters>
    </space>
  </source>

</settings>
