<?xml version='1.0' encoding='utf-8'?>
<settings>
  <eigenvalue>
    <particles>1000</particles>
    <batches>4</batches>
    <inactive>0</inactive>
  </eigenvalue>
  <source strength="1.0">
    <space type="box">
      <parameters>-5. -5. -5. 5. 5. 5.</parameters>
    </space>
  </source>
</settings>
