<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <!-- Path for cross section library -->
  <xslibrary path="/opt/serpent/xsdata/endfb7" />

  <!-- Parameters for criticality calculation -->
  <criticality>
    <cycles>15</cycles>
    <inactive>5</inactive>
    <particles>10000</particles>
  </criticality>

  <!-- How verbose output should be -->
  <verbosity value="7" />

  <!-- Starting source -->
  <source>
    <type>box</type>
    <coeffs>-4 -4 -4  4  4  4</coeffs>
  </source>

</settings>
