<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <!-- Parameters for criticality calculation -->
  <criticality>
    <batches>15</batches>
    <inactive>5</inactive>
    <particles>10000</particles>
  </criticality>

  <!-- Starting source -->
  <source>
    <type>box</type>
    <coeffs>-4 -4 -4  4  4  4</coeffs>
  </source>

</settings>
