<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <!-- Path for cross section library -->
  <cross_sections>
      /home/paulromano/openmc/cross_sections_serpent.xml
  </cross_sections>

  <!-- Parameters for criticality calculation -->
  <criticality>
    <cycles>15</cycles>
    <inactive>5</inactive>
    <particles>10000</particles>
  </criticality>

  <!-- Starting source -->
  <source>
    <type>box</type>
    <coeffs>-4 -4 -4  4  4  4</coeffs>
  </source>

</settings>
